@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui"{ themes: all;};
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes highlight-animation {
  0% { background-color: rgba(255, 255, 0, 0.5); }
  100% { background-color: transparent; }
}

.highlight {
  animation: highlight-animation 3s ease-out;
}
/*
.prose pre {
    background-color: var(--code-bg);
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
.prose {
  color: red;
}*/
